<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Singh_Grid::grid" title="Example Grid" sortOrder="40">
                        <resource id="Singh_Grid::view" title="View Grid" sortOrder="1" />
                        <resource id="Singh_Grid::add" title="Add New" sortOrder="2" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>
