<?xml version="1.0"?>
<!--
/**
 * Copyright © 2017 CORRA. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="dev" translate="label">
            <class>separator-top</class>
            <label>Cache Management</label>
            <resource>Corra_CacheManagement::cache_management</resource>
            <group id="log_config" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Log Settings</label>
                <field id="enable_debug_log" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Debug Log</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Logging to debug.log file. File is located in {{base_dir}}/var/log</comment>
                </field>
                <field id="enable_report_log" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable System Report Log</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Logging to system_report.log file. File is located in {{base_dir}}/var/log</comment>
                </field>
                <field id="enable_system_log" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable System Log</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Logging to system.log file. File is located in {{base_dir}}/var/log</comment>
                </field>
            </group>
        </section>
    </system>
</config>
